header {
  background-color: grey;
  padding-top: 20px;
  .container {
    .logo {
      font-size: 28px;
      display: block;
      color: #fff;
      float: left;
    }
    nav {
      float: left;
      ul {
        list-style: none;
        li {
          display: inline-block;
          a {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
