.mainpage {
  background-image: url('../imgs/slider3.jpg');
  background-size: cover;

  .overlay {
    background-color: rgba(0, 0, 0, 0.4);

    .container {
      padding-top: 300px;
      min-height: 1000px;
      .row {
        .subheader-holder {
          display: block;
          margin: 0 auto;
          width: 300px;
          padding: 10px;
          border-radius: 4px;
          h1, p {
            text-align: center;
            font-weight: normal;
          }
          h1 {
            font-size: 40px;
            margin-bottom: 10px;
            color: #b41932;
          }
          p {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }

  .mouse-scroll {
    position: relative;
    bottom: 100px;
    margin: 0 auto;
    display: block;
  }

}
